:root {
  /* Defining colors as variables */
  --color-bg: #2D3047;
  --color-fg: #F8F8F2;
  --color-highlight: #DEBA59;
  --color-highlight-accent: #DECDF5;
  --color-highlight-accent-dark: #1B998B;
  --color-dark:#2D3047;
  --color-light: #FBFFEB;
  --color-light-trans: rgb(251, 255, 235, 0.66)
    }

/* Clearing css and zeroing all margins, pads and borders */
* {
  margin: 0px;
  padding: 0px;
  border: none;
}

/* Setting default font size as 10px */
html {
  font-size: 62.5%;
  /* Set font size to 62.5% so that 1rem = 10px for initial designing (16px / 62.5 === 10) */
 }


body {
  background-color: var(--color-bg);
  color: var(--color-dark); /* font color */
  font-size: 2.5rem;
}

  #container-intro {
    /* this is originally hidden before fading in */
    display: none;
  }

h1 {
  text-align: center;
  padding: 2rem 0 4rem 0;
  font-size: 6rem; 

  /* Styling the h1 element using a gradient */
  background-color:var(--color-highlight-accent);
  background-image: linear-gradient(180deg, var(--color-highlight-accent), var(--color-highlight-accent-dark));
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.size-button, .difficulty-button {
  text-align: center;
  padding: 1rem;
}

/* Text configuration for the settings container */
.settings-text-grid, .settings-text-diff, .instructions-text, .hint-area {
  font-size: 1.75rem;
  font-style: italic;
  color: var(--color-highlight-accent-dark);
  text-align: center;
}


.magic-square {
    --grid-size: 3; /* Start with 3x3 */
    --font-size: 2.5rem;
    position: relative;
    font-size: var(--font-size);
    display: grid;
    width: 35rem;
    height: 35rem;
    background-color: var(--color-highlight);
    padding: 10px;
    grid-template: repeat(var(--grid-size), 1fr) / repeat(var(--grid-size), 1fr);
    margin: auto; /* Centering the content */
  }
  .square-item {
    background-color: var(--color-light-trans);
    color: var(--color-bg);
    border: 1px solid var(--color-fg);
    padding: 5px;
    text-align: center; 
    display: grid;
    align-items: center;
    font-size: var(--font-size);
  }



  .answer-box {
    width: 3rem;
    font-size: var(--font-size);
    margin: 0 auto; /* Placing input in the center */
  }

  #submit-button, #hint-button {
    display: block;
    margin: 1rem auto;
  }

  .main-buttons {
    --display: inline;
    --margin: 0 auto;
    text-align: center;
  }

  .btn:hover {
    transform: translateY(-3px); /* making the button move up*/
    box-shadow: 0 1rem 2rem rgb(0,0,0,.2); /* x, y and blur values */
}

  .btn {
    padding: 1rem;
    margin: 0 auto; /* Centering the content */
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 10rem;
    border: 0.2rem solid var(--color-highlight);
    background-color: var(--color-bg);
    color: var(--color-highlight);
    border-radius: 1rem;
  }

  .btn-click {
    /* Css to add once the button has been clicked */
    background-color: red;
  }


  .container {
    --width: 800px;
    max-width: 60%;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 1rem 0.2rem;
    margin: auto; /* Centering the content */
    background-color: var(--color-fg);
  }


  .hide {
    display: none;
  }

  li {
    margin-left: 3rem;
    font-size: 2rem;
    list-style-type: circle;
 }



/* **************************************** */
/* Credits, located below Footer */
/* **************************************** */

 #credits {
   margin-top: 3rem;
   text-align: center;
   color:var(--color-light);
   font-size: 1.5rem;
 }

 #credits i {
  color: var(--color-highlight-accent-dark)
}

/* **************************************** */
/* Styling the links */
/* **************************************** */

/* unvisited link */
a:link {
  color:var(--color-highlight-accent);
  text-decoration: none;
}

/* visited link */
a:visited {
  color:var(--color-highlight-accent-dark);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color:var(--color-highlight-accent-dark);
  text-decoration: underline;
}

